<div class="p-2 mb-5">
  <!-- Visualize one result -->
  <div
    *ngIf="activePrediction && activePrediction.inProcessing === true"
    class="alert alert-primary"
    role="alert"
  >
    <h6 class="display-6">Still processing</h6>
    <p>
      This prediction is still in processing. That might take a few seconds,
      depending on the number of images, their resolutions and the model size.
    </p>
  </div>

  <div class="row w-100">
    <!-- Left: image -->
    <div class="col-sm-5">
      <h6 class="display-6" *ngIf="activePrediction">Image</h6>

      <!-- Opacity slider -->
      <div
        class="mb-3"
        *ngIf="xaiClassVisible !== undefined && xaiClassVisible !== null"
      >
        <label for="xaiSlider" class="form-label">Opacity</label>
        <input
          type="range"
          class="form-range"
          id="xaiSlider"
          min="0"
          max="1"
          step="0.001"
          [(ngModel)]="opacity"
        />
      </div>

      <!-- XAI + image -->
      <div id="xaiContainer">
        <!-- image -->
        <img
          id="predictedImage"
          #predictedImage
          [ngStyle]="{ 'width.%': 100 }"
        />
        <!-- XAI -->
        <canvas
          id="heatmap"
          #heatmap
          [ngStyle]="{ 'width.%': 100, opacity: opacity }"
        ></canvas>
      </div>
    </div>
    <div class="col-sm-7">
      <!-- Right: Probabilities table -->
      <app-predict-probabilities
        *ngIf="activePrediction && activePrediction.inProcessing === false"
        [prediction]="activePrediction"
        [preferredChartType]="preferredChartTypeResult"
        [preferredProbabilitiesOrder]="probabilitiesChartOrder"
        [xaiClassInProcess]="xaiClassInProcess"
        [xaiPredictionInProcess]="xaiPredictionInProcess"
        (probabilitiesChangedEmitter)="chartOrderChangedEmitter.emit($event)"
        (exportPredictionEmitter)="exportPredictionEmitter.emit($event)"
        (generateGradCamEmitter)="generateGradCamEmitter.emit($event)"
        (showGradCamEmitter)="showGradCamEmitter.emit($event)"
      ></app-predict-probabilities>
    </div>
  </div>
</div>
