<div class="container-fluid" *ngIf="model">
    <h1 >
      {{ model.name | crop : 100 }}
    </h1>

    <h6 class="card-subtitle mb-2 text-muted">
      <span
        *ngIf="model.medicalDiscipline"
        class="fw-light badge rounded-pill text-bg-light p-2 m-1"
        >{{ model.medicalDiscipline }}</span
      >
      <span
        *ngIf="model.medicalProcedure"
        class="fw-light badge rounded-pill text-bg-light p-2 m-1"
        >{{ model.medicalProcedure }}</span
      >
    </h6>

    <p [innerHTML]="model.description" class="card-text"></p>
</div>
