<div *ngIf="predictForm">
  <div class="container-fluid pt-3 row-gap-5">
    <div class="row">
      <div class="col-12">
        <p class="alert alert-info d-inline-block" role="alert">
          You can select multiple images to predict with the model.
          Any image format is accepted.
        </p>
      </div>
    </div>
    <div class="row">
      <input
        type="file"
        accept="image/*"
        [multiple]="true"
        [hidden]="true"
        #imageUpload
        (click)="imageUpload.value = ''; numImagesSelected = 0"
        (change)="
          numImagesSelected = imageUpload.files ? imageUpload.files.length : 0
        "
        [ngrxFormControlState]="predictForm.controls.images"
      />
      <div class="col-12">
        <h3 (click)="imageUpload.click()" style="cursor: pointer">
          <fa-icon icon="square-plus"></fa-icon>
          Select images</h3>
      </div>
    </div>

    <div class="row pb-3" *ngIf="imageUpload.files && imageUpload.files.length > 0">
      <div class="col-1 pt-1" >
        <div class="ps-3 fst-italic">{{imageUpload.files.length}} {{imageUpload.files.length > 1 ? 'files' : 'file'}}</div>
      </div>
      <div class="col-auto">
        <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let img of imageUpload.files | filename">{{img}}</li>
        </ul>
      </div>
    </div>

    <div class="row" *ngIf="imageUpload.files && imageUpload.files.length > 0">
      <div class="col-1">
        <button
          type="button"
          class="btn btn-secondary w-100"
          (click)="resetForm()"
        >
          Discard {{imageUpload.files && imageUpload.files.length > 1 ? 'files' : 'file'}}
        </button>
      </div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-primary w-100"
          [disabled]="numImagesSelected === 0 || predictForm.value.predictInProgress === true"
          (click)="predict()"
        >
          Start prediction
        </button>
      </div>
    </div>
  </div>
</div>
