<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      WebIPred
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="predict/new">
            <fa-icon icon="square-plus"></fa-icon>&nbsp;Add prediction
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="predict/history">
            <fa-icon icon="list"></fa-icon>&nbsp;Previous predictions
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="models">
            <fa-icon icon="gears"></fa-icon>&nbsp;Model
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
